.bd-icons {
  &__sorting {
    padding: 2px;
    width: 100%;
    max-width: 36px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    > div {
      height: 2px;
      content: "";
      margin-bottom: 2px;
      width: 100%;
      background: black;
      &:nth-child(2) {
        width: 80%;
      }
      &:last-child {
        margin-bottom: 0;
        width: 60%;
      }
    }
  }
  &--tooltip {
    width: 18px;
    height: 18px;
    position: relative;

    &__info {
      z-index: -1;
      position: absolute;
      opacity: 0;
      top: 50%;
      transform: translateY(-50%);
      left: calc(100% + 5px);
      background: #eee;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
      transition: opacity 0.1s ease-in-out;
      width: auto;
      white-space: nowrap;
      padding: 1rem;
      font-size: 12px;

      &.bd-icons--tooltip__info--show {
        opacity: 1;
        z-index: 999;
      }
    }
  }
}
